main {
  flex: 1;
  margin: auto;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#search-bar {
  padding: 10px;
  width: 100%;
}

.foodArea {
  display: flex;
}

.description {
  padding: 0;
  padding-left: 50px;
}

mark {
  background-color: yellow;
  color: inherit;
}